
body, html {
    height: 100%;

}

.bg {
    height: 100%;
    width: 100%;
}

.headerImage{
    width: 1900px;
    height: 400px;
}

.navbar{
    border-top: 1px solid #000000;
    color: white;
    background: rgb(2,84,163);
    background: linear-gradient(180deg, rgba(2,84,163,1) 0%, rgba(0,123,240,1) 100%);
}
.navbar-brand{

}

.brødtekst{
    position: relative;

}
.h1{
    position: relative;
}

.p{
    position: relative;
}

.frontPicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.headerImage{
    width: 1900px;
    height: 400px;
    float: inside;
}

.form-row{
    position: center;
}

.footer {
    border-top: 1px solid #000000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background: rgb(2,84,163);
    background: linear-gradient(180deg, rgba(2,84,163,1) 0%, rgba(0,123,240,1) 100%);
}

.footer a{
    float: left;
    padding: 4px 4px;
    color: #f2f2f2;
    text-decoration: none;
    text-align: left;
    font-size: 17px;
}
.footer a:hover{
    color: red;
}
.footer .secret{
    float: right;
}