@font-face {
    font-family: 'Bebas Neue', cursive;
}
body, html {
    height: 100%;
}

.bg {
    height: 100%;

}
.navbar {
    font-family: "Bebas Neue";
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: 20px
}
.navbar .navbar-brand{
    font-size: 45px;
    color: white;
}
.navbar .nav-link{
    color: white;
}
.nav-link li ul a{
    color: white;
}
.headerImage{
    width: 1900px;
    height: 400px;
}
.error-text{
    color: red;
}

.container1{
    position: relative;
}
.container2{
    position: relative;
}

.form-group{
    position: center;

}
body, html {
    height: 100%;
}
.outputshowcase{
    background-color: transparent;
    border: none;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}
.column {
    padding: 2%;
    text-align: center;
    display: inline-block; vertical-align: top;

}
.radioimage{
    width: 425px;
    height: 325px;
}
.bgimg1 {

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.row::after {   content: "";
    clear: both;
    display: table;
}
.brødtekst{
    position: relative;

}
#wrapper {
    padding: 25px;
    width: 50%;
    margin: 0 auto;
}
#wrapper h1{
    text-align: center;
}

.p{
    position: relative;
}

.pic{
position: center;

}



.footer {
    border-top: 1px solid #000000;
    background: rgb(64,143,252);
    background: linear-gradient(180deg, rgba(64,143,252,1) 0%, rgba(5,53,172,1) 91%);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;

}

.footer a{
    float: left;
    padding: 4px 4px;
    color: #f2f2f2;
    text-decoration: none;
    text-align: left;
    font-size: 17px;
}
.footer a:hover{
    color: red;
}
.footer .secret {
    float: right;
}

.carportchoice{

    color: white;
    padding-bottom: 50px;
    padding-right: 25px;
    padding-left: 25px;
    background: rgb(64,143,252);
    background: linear-gradient(180deg, rgb(0, 44, 105) 0%, rgba(5,53,172,1) 91%);
    border-radius: 50px 15px
}
.carportchoice h3{
    padding-top: 5px;
    text-align: center;
}
.carportchoice p{
    font-family: "Bebas Neue", serif;
    font-size: 25px;
}
.form-check-label{
    padding-top: 6px;
    font-size: 25px;
}
.divspacer{
    padding-top: 10px;
}
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
[type=radio] + img {
    cursor: pointer;
    outline: 3px solid #000000;

}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 5px solid #00d1ff;
}
.carporttagdiv{
    color: white;
    padding-bottom: 50px;
    padding-right: 25px;
    padding-left: 25px;
    background: rgb(64,143,252);
    background: linear-gradient(180deg, rgb(3, 39, 95) 0%, rgba(5,53,172,1) 91%);

    border-color: #3498db;
    border-width: 5px;
    border-radius: 15px 50px
}
.redskabsrumdiv{
    color: white;
    padding-bottom: 50px;
    padding-right: 25px;
    padding-left: 25px;
    background: rgb(64,143,252);
    background: linear-gradient(180deg, rgba(64,143,252,1) 0%, rgba(5,53,172,1) 91%);
    border-radius: 15px 50px
}
.redskabsrumdiv label{
    font-size: 25px;
    text-decoration: underline;
}
.redskabsrumdiv h2{
    text-align: center;
}
.customerinput{
    margin: auto;
    width: 50%;
    color: white;
    padding: 25px 25px 50px;
    background: rgb(64,143,252);
    background: linear-gradient(180deg, rgba(64,143,252,1) 0%, rgba(5,53,172,1) 91%);
    border-radius: 15px
}
.centercarports{
    margin: auto;
    width: 50%;
}